.bronze{
  color: #CD7F32;
}

.bronzeB{
  color: #dca570;
}

.bronzeD{
  color: #905923;
}

.silver{
  color: 	#C0C0C0
}

.silverB{
  color: 	#e6e6e6
}

.silverD{
  color: 	#9a9a9a
}

.gold{
  color: #daa520;
}

.goldB{
  color: 	#eee588
}

.goldD{
  color: 	#725305
}

.green{
  color: 	#A1B3C7;
}

.greenB{
  color: 	#C2D7F0;
}

.greenD{
  color: 	#6D7987;
}

.medals{
  font-size: 16rem;
  margin: auto;

}

.medals-occluded{
  opacity: 0.2;
}


