
/* Source: https://codepen.io/ViRPo/pen/WNNoRKB */

html {
  box-sizing: border-box;
}

a{
  cursor: pointer;
}

.main{
  margin-top: 3em;
}

.admin-links{
  margin: 1em;
  margin-bottom: 3em;
}

footer{
  margin-top: 3em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

