HOST = "localhost"
DATABASE = "speech_collection_app"
PASSWORD = "speech_collection_app"
USER = "speech_collection_app"
BASE_DIR = "/home/cintoros/Documents/git_repos/speech-collection-app/data/"
SOURCE_DIR = "source"
SOURCE_NAME = 'Digitaltag'
SOURCE_DESC = 'Digitaltag 2019'
SOURCE_LICENCE = ""
