<div class="margin">
  <mat-card id="header-card"><h1>Document Overview</h1></mat-card>
</div>
<div class="margin">
  <div *ngIf="!excerpts">
    <table [dataSource]="documents" mat-table style="width: 100%; ">
      <ng-container matColumnDef="licence">
        <th *matHeaderCellDef mat-header-cell>Licence</th>
        <td *matCellDef="let element" mat-cell>{{element.licence}}</td>
      </ng-container>
      <ng-container matColumnDef="domain">
        <th *matHeaderCellDef mat-header-cell>Domain</th>
        <td *matCellDef="let element" mat-cell>{{findDomain(element.domainId)?.name}}</td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th *matHeaderCellDef mat-header-cell>Time</th>
        <td *matCellDef="let element" mat-cell>{{element.time}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="edit(element)" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="delete(element)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="['time','licence','domain','options'];sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: ['time','licence','domain','options'];" mat-row></tr>
    </table>
  </div>
  <div [hidden]="!excerpts">
    <button (click)="back()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <table [dataSource]="excerpts" mat-table matSort style="width: 100%; ">
      <ng-container matColumnDef="excerpt">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Excerpt</th>
        <td *matCellDef="let element" mat-cell>{{element.excerpt}}</td>
      </ng-container>
      <ng-container matColumnDef="isskipped">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Skipped</th>
        <td *matCellDef="let element" mat-cell>{{element.isskipped}}</td>
      </ng-container>
      <ng-container matColumnDef="isprivate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Private</th>
        <td *matCellDef="let element" mat-cell>{{element.isprivate}}</td>
      </ng-container>
      <ng-container matColumnDef="isSentenceError">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Sentence error</th>
        <td *matCellDef="let element" mat-cell>{{element.isSentenceError}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="deleteE(element)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="['excerpt','isskipped','isprivate','isSentenceError','options'];sticky: true"
          mat-header-row></tr>
      <tr *matRowDef="let row; columns: ['excerpt','isskipped','isprivate','isSentenceError','options'];" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
