<div class="container-fluid">
    <br>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <a href="/record/all">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                    Aufnehmen
                </button>
            </a>
        </div>
        <div class="col-sm-6"><a href="/check">
                <button type="button" class="btn btn-primary btn-lg btn-block">
                    Prüfen
                </button>
            </a></div>

        <div class="col-sm-6">
            <img src="assets/img/sva.png" class="img-responsive" alt="image loading failed :(" />
        </div>
        <div class="col-sm-6">
            <p>Sprache ist natürlich, Sprache ist menschlich. Deshalb haben wir grosses Interesse
                daran, brauchbare Technologien
                zur Spracherkennung für unsere Geräte zu erschaffen. Allerdings wird zur Entwicklung sprachbasierter
                Systeme
                eine sehr grosse Menge an Aufnahmen von gesprochener Sprache benötigt.</p>
        </div>

        <div class="col-sm-6">
            <p> Nun ist es an Dir! Hilf uns, indem du Deine Stimme spendest, eine gemeinfreie schweizerdeutsche
                Sprachdatenbank
                aufzubauen, mit der jeder von nun an innovative Geräte- oder Webanwendungen erschaffen kann.</p>
        </div>
    </div>
</div>
