<app-logos></app-logos>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <a routerLink="/record">
        <app-record-animation></app-record-animation>
        <button class="btn btn-primary btn-lg btn-block" type="button">Record now</button>
      </a>
    </div>
    <div class="col-sm-6">
      <a routerLink="/check">
        <app-check-animation></app-check-animation>
        <button class="btn btn-primary btn-lg btn-block" type="button">Check now</button>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <img alt="image loading failed :(" class="img-responsive" src="assets/img/sva.png"/>
    </div>
    <div class="col-sm-6">
      <h3>Our Concern</h3>
      <div style="text-align: left">
        Welcome to the Speech Collection App.<br/>
        This web application was built for the purpose of collecting Swiss German speech with the corresponding Standard
        German transcript to train Swiss German speech-to-text models.<br/>
        You can help us build a freely available Swiss German speech-to-text model by providing speech (Record function)
        or by
        doublechecking the recordings of other users (Check function).<br/>
        Any contribution is much appreciated!<br/>
      </div>
    </div>
  </div>
  <app-public-stats></app-public-stats>
  <br>
  <div *ngIf="userGroups.length>1">
    <h3>Multiple user groups available:</h3>
    <mat-form-field>
      <mat-label>User group:</mat-label>
      <mat-select [(value)]="userGroupService.userGroupId">
        <mat-option *ngFor="let group of userGroups" [value]="group.id">{{group.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-container *ngIf="getSelectedGroupDescription()">
    <mat-divider></mat-divider>
    <br>
    <markdown [data]="getSelectedGroupDescription()"></markdown>
  </ng-container>
</div>
