.progress {
  max-width: 60rem;
  margin: auto;
}

.bronze {
  background-color: #CD7F32;
}

.silver {
  background-color: #C0C0C0;
}

.gold {
  background-color: #daa520;
}

.green {
  background-color: #A1B3C7;
}
