<mat-card id="header-card"
  ><h1>Check</h1>
  <div style="color: grey; font-size: 0.8em;">
    Doublecheck whether a transcript is a Standard German sentence and the
    corresponding recording is a correct Swiss German translation.
    <ul>
      <li>
        Correct: Transcript is a Standard German sentence and recording is a
        correct Swiss German translation
      </li>
      <li>Wrong: Recording is not a correct Swiss German translation</li>
      <li>
        Skip: Unsure whether recording is a correct Swiss German translation or
        not
      </li>
      <li>
        Not a sentence: Transcript is not Standard German or is not a single
        sentence or phrase. In a pre-processing step, longer texts are
        automatically split to sentences, so use this button also if you suspect
        that the sentence splitting went wrong.
      </li>
      <li>
        Sensitive data: Transcript and / or recording contains sensitive data
        and should not be published.
      </li>
    </ul>
  </div>
</mat-card>
<div *ngIf="occurrences.length === 0" style="height: calc(100% - 100px);">
  <div style="height: calc(100% - 90px);">
    <mat-card
      style="
        margin: 15px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <div style="font-weight: bold; font-size: 36px;">
        No more Data available
      </div>
    </mat-card>
  </div>
</div>
<div *ngIf="occurrences.length > 0">
  <p class="card">
    Stimmt der Satz mit der Aufnahme überein? Dann klicke auf das
    <span class="glyphicon glyphicon-ok-sign"></span> Symbol. <br />
    Klicke sonst auf das
    <span class="glyphicon glyphicon-remove-sign"></span> Symbol.
  </p>

  <div *ngFor="let textAudio of occurrences; let i = index">
    <mat-card class="center">
      <div class="excerpt_text">{{ textAudio.text }}</div>
    </mat-card>
  </div>

  <br />

  <div id="navigation-button-container">
    <button
      (click)="setCheckedType(checkedOccurrenceLabel.WRONG)"
      [disabled]="!this.isReady"
      class="check-navigation-button btn btn-danger"
      mat-raised-button
    >
      <span class="glyphicon glyphicon-remove-sign"></span>
    </button>
    <button
      (click)="togglePlay()"
      *ngIf="!isPlaying"
      class="check-navigation-button btn btn-primary"
      mat-raised-button
    >
      <mat-icon>play_arrow</mat-icon>
    </button>

    <button
      (click)="togglePlay()"
      *ngIf="isPlaying"
      class="check-navigation-button btn btn-secondary"
      mat-raised-button
    >
      <mat-icon>pause</mat-icon>
    </button>

    <button
      (click)="setCheckedType(checkedOccurrenceLabel.CORRECT)"
      [disabled]="!this.isReady"
      mat-raised-button
      class="btn btn-success"
    >
      <span class="glyphicon glyphicon-ok-sign"></span>
    </button>
  </div>

  <br />
  <br />

  <div id="navigation-button-container">
    <button
      (click)="setCheckedType(checkedOccurrenceLabel.SKIPPED)"
      [disabled]="!this.isReady"
      class="check-navigation-button btn btn-secondary"
      mat-raised-button
    >
      <mat-icon>skip_next</mat-icon>
      <span>&nbsp;Skip</span>
    </button>
    <button
      (click)="setCheckedType(checkedOccurrenceLabel.SENTENCE_ERROR)"
      [disabled]="!this.isReady"
      class="check-navigation-button btn btn-secondary"
      mat-raised-button
    >
      <mat-icon>delete</mat-icon>
      <span>&nbsp;Not a sentence</span>
    </button>
  </div>
</div>
<br />
<br />
<div id="shortcut-button">
  <a (click)="openShortcutDialog()">
    Hotkeys
  </a>
</div>
