<mat-card class="header-card"><h1>Check</h1>
  <div style="color: grey;font-size: 1em">
    <strong>Doublecheck whether a transcript is a Standard German sentence and the corresponding recording is a correct
      Swiss German translation.</strong>
    <ul>
      <li>Correct: Transcript is a Standard German sentence and recording is a correct Swiss German translation</li>
      <li>Wrong: Recording is not a correct Swiss German translation</li>
      <li>Skip: Unsure whether recording is a correct Swiss German translation or not</li>
      <li>Not a Single Standard German Sentence: Transcript is not Standard German or is not a single sentence or phrase. In a pre-processing
        step, longer texts are automatically split to sentences, so use this button also if you suspect that the
        sentence
        splitting went wrong.
      </li>
      <li>Sensitive data: Transcript and / or recording contains sensitive data and should not be published.</li>
    </ul>
  </div>
</mat-card>
<div *ngIf="!occurrence" style="height: calc(100% - 100px);">
  <div style="height: calc(100% - 90px);">
    <mat-card style="margin: 15px; height: 100%; display: flex; align-items: center; justify-content: center;">
      <div style="font-weight: bold; font-size: 36px;">No more Data available</div>
    </mat-card>
  </div>
</div>
<div *ngIf="occurrence" class="margin">
  <b>Excerpt: </b><span>{{occurrence.text}}</span>
  <br>
  <audio #htmlAudioPlayer [src]="blobUrl" controls id="htmlAudioPlayer"></audio>
  <br>
  <button (click)="togglePlay();" *ngIf=" !isPlaying" class="check-navigation-button" mat-raised-button>
    <mat-icon>play_arrow</mat-icon>
    Play [p]
  </button>
  <button (click)="togglePlay();" *ngIf="isPlaying" class="check-navigation-button" mat-raised-button>
    <mat-icon>pause</mat-icon>
    Pause [p]
  </button>
  <button (click)="setCheckedType(checkedOccurrenceLabel.SKIPPED)" [disabled]="!this.isReady"
          class="check-navigation-button" mat-raised-button>
    <mat-icon>skip_next</mat-icon>
    <span>&nbsp;Skip [s]</span>
  </button>
  <br>
  <button (click)="setCheckedType(checkedOccurrenceLabel.CORRECT)" [disabled]="!this.isReady" mat-raised-button
          style="border-color: green;border-style: solid;border-width: 2px; ">
    <mat-icon style="color: green">thumb_up</mat-icon>
    <span>&nbsp;Correct [c]</span>
  </button>
  <button (click)="setCheckedType(checkedOccurrenceLabel.WRONG)" [disabled]="!this.isReady"
          class="check-navigation-button" mat-raised-button
          style="border-color: red;border-style: solid;border-width: 2px; ">
    <mat-icon style="color: red">thumb_down</mat-icon>
    <span>&nbsp;Wrong [w]</span>
  </button>
  <br>
  <button (click)="setCheckedType(checkedOccurrenceLabel.SENTENCE_ERROR)" [disabled]="!this.isReady"
          class="check-navigation-button" mat-raised-button>
    <span>&nbsp;Not a Single Standard German Sentence</span>
  </button>
  <button (click)="setCheckedType(checkedOccurrenceLabel.PRIVATE)" [disabled]="!this.isReady"
          class="check-navigation-button" mat-raised-button>
    <span>&nbsp;Sensitive Data</span>
  </button>
</div>
<div class="shortcut-button">
  <button (click)="openShortcutDialog()" mat-raised-button>
    <mat-icon>keyboard</mat-icon>
  </button>
</div>
