<div *ngIf="user"
    style="height: 40%; margin-top: -12px; background-color: #303f9f; display: flex; justify-content: center;">
    <mat-card *ngIf="user" id="header-card" style="margin: 15px; width: 50%; position: absolute;">
        <br>
        <div>
            <app-profile-editor (output)="toggleProfileEdit()" *ngIf="!isPasswordEdit" [disabled]="!isProfileEdit"
                [isNewUser]="false" [user]="copyUser()"></app-profile-editor>
            <ng-container *ngIf="!isProfileEdit&&!isPasswordEdit">
                <br>
                <button (click)="toggleProfileEdit()" class="btn btn-default">Profil ändern</button>
                <button (click)="togglePasswordEdit()" class="btn btn-default">Passwort ändern
                </button>
                <button (click)="authService.logout(true)" class="btn btn-primary">Abmelden</button>
            </ng-container>
            <ng-container *ngIf="isPasswordEdit">
                <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
                    <div>
                        <div>
                            <mat-form-field style="width: 100%;">
                                <input autocomplete="current-password" formControlName="password" matInput
                                    placeholder="Old Password" type="password">
                                <mat-error *ngIf="isOldPwError('required')">Bitte gib dein altes Passwort ein
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field style="width: 100%;">
                                <input autocomplete="new-password" formControlName="newPassword" matInput
                                    placeholder="New Password" type="password">
                                <mat-error *ngIf="isNewPwError('required')">Bitte gib dein neues Passwort ein
                                </mat-error>
                                <mat-error *ngIf="isNewPwError('minlength')">zu kurz!</mat-error>
                                <mat-error *ngIf="isNewPwError('maxlength')">zu lang!</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button
                                style="border: lightgray 1px solid; padding: 0 12px; line-height: 48px; bottom: 0;"
                                type="submit">Speichern
                            </button>
                            <button (click)="togglePasswordEdit()" mat-button
                                style="border: lightgray 1px solid; padding: 0 12px; line-height: 48px; bottom: 0;"
                                type="button">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </ng-container>

        </div>


    </mat-card>
</div>
