html, body {
	height: 100%;
}


.loader {
	display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
  height: 500px;
}
img{
  height: 400px;
  max-width: 80%;
  width: auto;
}

.text {
  text-align: left;
  color: black;
  position: absolute;
  z-index: 5;
  top: 0; left: 0;
  font-size: larger;
  background-color: rgba($color: white, $alpha: 0.9);
  margin: 5%;
}

#wave {
  fill: #000;
  max-width: 80%;
	-webkit-animation-play-state: paused; 
   animation-play-state: paused; 
}

#wave:hover {
	-webkit-animation-play-state: running; 
   animation-play-state: running; 
}

@for $i from 1 through 9{
	#Line_#{$i} {
		animation: pulse 3s infinite;
		animation-delay: $i * .15s;
		-webkit-animation-play-state: inherit; 
    	animation-play-state: inherit; 
	}
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	
	50% {
		transform: scaleY(.3);
		transform-origin: 50% 50%;
		fill: #428bca;
	}
	
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}
