<div style="display: flex; align-items: center; justify-content: center;  height: calc(100%);min-height: 85rem;">
  <mat-card *ngIf="isLogin" style="max-width: 500px;width: 90%;">
    <mat-toolbar style="background-color: #428bca; color: azure;">Login</mat-toolbar>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div>
        <mat-form-field style="width: 100%;">
          <input autocomplete="username" formControlName="email" matInput placeholder="Username" type="text">
          <mat-error *ngIf="loginForm.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 100%;">
          <input autocomplete="password" formControlName="password" matInput placeholder="Password" type="password">
          <mat-error *ngIf="loginForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div style="margin-top: 5px;">
        <button mat-button style="width: 100%; border: 1px solid lightgray; height: 50px;" type="submit">Login
        </button>
      </div>
    </form>
    <p>
      <span>Not registered yet? Register </span>
      <a (click)="toggleIsLogin()" href="#">here</a>
      <span>!</span>
    </p>
    <div *ngIf="emailIntegration">
      <p>
        <span>Email Validation Token Expired? Click </span>
        <a [queryParams]="{ mode: 'email'}" [routerLink]="['/token']">here</a>
        <span>!</span>
      </p>
      <p>
        <span>Forgot your password? Reset your password </span>
        <a [queryParams]="{ mode: 'password'}" [routerLink]="['/token']">here</a>
        <span>!</span>
      </p>
    </div>
  </mat-card>
  <mat-card *ngIf="!isLogin" style="max-width: 500px; width: 90%;">
    <mat-toolbar style="background-color: #428bca; color: azure;">Registrieren</mat-toolbar>
    <app-profile-editor (output)="toggleIsLogin()" [isNewUser]="true" [user]="newUser()"></app-profile-editor>
  </mat-card>
</div>
