<div class="margin">
  <div class="small-logo">
    <a href="https://www.fhnw.ch/en/about-fhnw/schools/school-of-engineering/institutes/institute-for-data-science"><img
      alt="Institute for Data Science | FHNW" class="small-logo cropped " src="assets/logos/fhnw.jpg"
      title="Institute for Data Science | FHNW"></a>
    <span class="margin"></span>
    <a href="https://www.zhaw.ch/en/engineering/institutes-centres/init/"><img
      alt="Institute of Applied Information Technology | ZHAW" class="small-logo cropped " src="assets/logos/zhaw.jpg"
      title="Institute of Applied Information Technology | ZHAW"></a>
    <span class="margin"></span>
    <a class="small-logo site-title" href="https://swissnlp.org/" title="SwissNLP">SwissNLP</a>
  </div>
</div>
<div class="margin">
  <p>This is an initiative by <a
    href="https://www.fhnw.ch/en/about-fhnw/schools/school-of-engineering/institutes/institute-for-data-science">FHNW</a>,
    <a href="https://www.zhaw.ch/en/engineering/institutes-centres/init/">ZHAW</a> and
    <a href="https://swissnlp.org/">SwissNLP</a>.
  </p>
  <p>For feedback and support, please contact us at <a href="mailto:michel.pluess@fhnw.ch">michel.pluess@fhnw.ch</a>.
  </p>
</div>
