.site-title {
  color: white;
  background: red;
  text-decoration: none;
  font-size: 3em;
}

.small-logo {
  height: 4em;
  vertical-align: top
}

.big-logo {
  height: 8em;
  vertical-align: top
}


.cropped {
  object-fit: cover;
}
