<a href="https://www.fhnw.ch/en/about-fhnw/schools/school-of-engineering/institutes/institute-for-data-science">
  <img alt="Institute for Data Science | FHNW" class="small-logo cropped " src="assets/logos/fhnw.jpg"
       title="Institute for Data Science | FHNW"></a>
<span></span>
<a href="https://www.zhaw.ch/en/engineering/institutes-centres/init/">
  <img alt="Institute of Applied Information Technology | ZHAW" class="small-logo cropped " src="assets/logos/zhaw.jpg"
       title="Institute of Applied Information Technology | ZHAW"></a>
<span></span>
<a href="https://www.uzh.ch/cmsssl/en.html">
  <img alt="University of Zurich" class="small-logo cropped " src="assets/logos/uzh_logo_e_pos_web_main.jpg"
       title="University of Zurich"></a>
<span></span>
<a href="https://swissnlp.org/">
  <img alt="Swiss Association for Natural Language Processing" class="small-logo cropped "
       src="assets/logos/SwissNLP-Logo.jpg" title="Swiss Association for Natural Language Processing"></a>

<br>
<p>This is an initiative by <a
        href="https://www.fhnw.ch/en/about-fhnw/schools/school-of-engineering/institutes/institute-for-data-science">FHNW</a>,
  <a href="https://www.zhaw.ch/en/engineering/institutes-centres/init/">ZHAW</a>, <a
          href="https://www.uzh.ch/cmsssl/en.html">UZH</a> and <a href="https://swissnlp.org/">SwissNLP</a>.
</p>
<p>For feedback and support, please contact us at <a href="mailto:michel.pluess@fhnw.ch">michel.pluess@fhnw.ch</a>.
</p>

<!--TODO rewrite so it makes sense with the public/academic licence?-->
<h2>Nutzungsbedingungen</h2>
<p> Wir stellen die Datenbank des MTC unter der freien CC0-Lizenz von Creative Commons als „Public Domain“ zur
  Verfügung. Das bedeutet, dass sie von der Öffentlichkeit genutzt werden kann und wir in dem höchsten vom Gesetz
  erlaubten Mass auf das Copyright verzichten. Wenn Sie beitragen möchten, müssen Sie das ebenfalls tun. Sie müssen
  zustimmen, dass das MTC alle Ihre Beiträge (Text, Aufnahmen, Bestätigungen und Feedback) der Öffentlichkeit unter der
  CC0-Lizenz verfügbar machen darf.</p>
<p>Damit Sie an unserer Plattform teilnehmen dürfen, benötigt das MTC ausserdem die folgenden beiden Zusicherungen von
  Ihnen:</p>
<p>Erstens: Ihre Beiträge sind vollständig Ihr eigenes Werk.</p>
<p>Zweitens: Ihre Beiträge verletzen keine Rechte Dritter, also anderer Personen.</p>
<p>Wenn Sie dies nicht zusichern können, dürfen Sie nicht an unserer Plattform teilnehmen.</p>

