<h2>Nutzungsbedingungen</h2>

<p> Wir stellen die Datenbank des MTC unter der freien CC0-Lizenz von Creative Commons als „Public Domain“
    zur Verfügung. Das bedeutet, dass sie von der Öffentlichkeit genutzt werden kann und wir in dem höchsten vom Gesetz
    erlaubten Mass auf das Copyright verzichten. Wenn Sie beitragen möchten, müssen Sie das ebenfalls tun.
    Sie müssen zustimmen, dass das MTC alle Ihre Beiträge (Text, Aufnahmen, Bestätigungen und Feedback) der
    Öffentlichkeit
    unter der CC0-Lizenz verfügbar machen darf.</p>

<p>
    Damit Sie an unserer Plattform teilnehmen dürfen, benötigt das MTC ausserdem die folgenden beiden Zusicherungen von
    Ihnen:</p>

<p>
    Erstens: Ihre Beiträge sind vollständig Ihr eigenes Werk.</p>

<p>

    Zweitens: Ihre Beiträge verletzen keine Rechte Dritter, also anderer Personen.</p>

<p>
    Wenn Sie dies nicht zusichern können, dürfen Sie nicht an unserer Plattform teilnehmen.</p>
