<mat-card *ngIf="achievementWrapper">
  <h3>{{achievementWrapper.achievementDto.title}}</h3>
  <p *ngIf="getLevel(achievementWrapper) > 0">
    {{getDescription(achievementWrapper)}}
  </p>
  <app-glyphicons-batch [glyph]="achievementWrapper.achievementDto.batch_name" [level]="getLevel(achievementWrapper)"
                        [text]="achievementWrapper.achievementDto.name">
  </app-glyphicons-batch>
  <div *ngIf="getLevel(achievementWrapper) < 4">
    <p>Remaining time: {{getRemainingDays(achievementWrapper)}} Day
      <span *ngIf="getRemainingDays(achievementWrapper) > 1">s</span>
    </p>
    <p>
      You get the
      <span *ngIf="getLevel(achievementWrapper) > 0">next </span>achievement with
      {{getNextLevelPoints(achievementWrapper)}} points. </p>
    <p> You have until now: {{getPoints(achievementWrapper)}}</p>
    <app-progressbar [achievementWrapper]="achievementWrapper"></app-progressbar>
  </div>
</mat-card>
