<mat-card>
  <h3>{{achievementWrapper.achievementDto.title}}</h3>
  <p *ngIf="getLevel(achievementWrapper) > 0">{{getDescription(achievementWrapper)}}</p>
  <app-glyphicons-batch [glyph]="achievementWrapper.achievementDto.batch_name" [level]="getLevel(achievementWrapper)"
                        [text]="achievementWrapper.achievementDto.name">
  </app-glyphicons-batch>
  <div *ngIf="getLevel(achievementWrapper) < 4">
    <p>
      Verbleibende Zeit: {{getRemainingDays(achievementWrapper)}} Tag<span
            *ngIf="getRemainingDays(achievementWrapper) > 1">e</span>
    </p>
    <p>
      Du bekommst die
      <span *ngIf="getLevel(achievementWrapper) > 0">nächste </span>Auszeichnung mit
      {{getNextLevelPoints(achievementWrapper)}} Punkten. </p>
    <p> Du hast bis jetzt: {{getPoints(achievementWrapper)}}</p>
    <app-progressbar [achievementWrapper]="achievementWrapper"></app-progressbar>
  </div>
</mat-card>
