
.card {
  margin: 0 0 15px 0;
}

snack-bar-container.snack-bar-error {
  color: red;
  background-color: whitesmoke;
}

snack-bar-container.snack-bar-message {
  color: black;
  background-color: whitesmoke;
}

/*
 * Globals
 */

/* Custom default button */

.container {
  width: 95%;
  padding: 0;
  max-width: 80em;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-flexbox;
  display: flex;
}

.cover-container {
  max-width: 58em;
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  padding-left: 1em;
}

.masthead-brand:hover {
  color: #1c7cd5;
  cursor: pointer;
}

nav {
  margin-top: 20px;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 500;
  font-size: 18px !important;
  color: #333;
  border-bottom: 0.25rem solid transparent;
  text-decoration: none;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #1c7cd5;
  border-bottom-color: #1c7cd5;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #1c7cd5;
  border-bottom-color: #1c7cd5;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(0, 0, 0, 0.418);
}
