host = "localhost"
database = "speech_collection_app"
password = "speech_collection_app"
user = "speech_collection_app"

base_dir = "/home/cintoros/Documents/git_repos/speech-collection-app/data/"
source_dir = "source"
source_name = 'Digitaltag'
source_desc = 'Digitaltag 2019'
