.progress{
  max-width: 60rem;
  margin: auto;
}

.bronze{
  background-color: #CD7F32 !important;
}

.silver{
  background-color: #C0C0C0 !important;
}

.gold{
  background-color: #daa520 !important;
}

.green{
  background-color: 	green !important;
}
