<ng-container *ngIf="this.gamificationOn">
  <h2 *ngIf="activeAchievementsWrapper.length > 0">Your active achievements</h2>
  <div class="row form-group">
    <div *ngFor="let achievementWrapper of activeAchievementsWrapper; index as i" class="col-sm-4"
         style="padding: 15px;">
      <p>{{achievementWrapper.percentOfUsers}}% of users have unlocked this achievement.</p>
      <app-badge [achievementWrapper]="achievementWrapper"></app-badge>
    </div>
  </div>
  <h2 *ngIf="nonActiveAchievementsWrapper.length > 0">Your Completed Achievements</h2>
  <div class="row form-group">
    <div *ngFor="let achievementWrapper of nonActiveAchievementsWrapper; index as i" class="col-sm-4"
         style="padding: 15px;">
      <p>{{achievementWrapper.percentOfUsers}}% of users have unlocked this achievement.</p>
      <app-badge [achievementWrapper]="achievementWrapper"></app-badge>
    </div>
  </div>
</ng-container>
<br/>
<br/>
<app-public-stats></app-public-stats>
