<ng-container *ngIf="this.gamificationOn">
  <div class="col-sm-4">
    <h3>Next achievement</h3>
    <p>You can find more achievements in the Achievements section.</p>
    <app-badge [achievementWrapper]="activeAchievementWrapper"></app-badge>
  </div>
  <div class="col-sm-8">
    <h3>Clash of the cantons.</h3>
    <p>The graphic shows the cantons with the most points per inhabitant. Help your canton by diligently recording,
      generating translations and checking recordings</p>
    <app-map></app-map>
  </div>
</ng-container>
<div class="col-sm-6">
  <app-bar-chart [results]="single1" [xAxisLabel]="'User'" [yAxisLabel]="'Number of recordings'"
                 h3="Top 3 Users (recording)"></app-bar-chart>
</div>
<div class="col-sm-6">
  <app-bar-chart [results]="single2" [xAxisLabel]="'User'" [yAxisLabel]="'Number of checked recordings'"
                 h3="Top 3 Users (checking)"></app-bar-chart>
</div>
<div class="col-sm-4">
  <h4>Public Statistics</h4>
  <p *ngFor="let count of counts"><strong>{{count.name}}: </strong><i>{{count.value}}</i></p>
</div>
